/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fff;
  font-style: normal;
}

/*style for button*/
.button {
  width: 222px;
  height: 50px;
  background: #f25b24;
  border: 0;
  border-radius: 4px;
  color: white;
  font-family: "Whitney", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
}
.button:hover, .button:focus, .button:active {
  background: #f36b56;
}
@media screen and (max-width: 992px) {
  .button {
    width: 180px;
  }
}

/* style for wrapper */
.wrapper {
  max-width: 1185px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 1185px) {
  .wrapper {
    max-width: 970px;
  }
}
@media screen and (max-width: 992px) {
  .wrapper {
    max-width: 900px;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    max-width: none;
  }
}

/* Header styles start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.2s linear;
  padding-bottom: 20px;
  z-index: 20;
}
.header .header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 33px;
}
@media screen and (max-width: 767px) {
  .header .header__wrapper .header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #2d1686 0%, #4e33b5 100%);
    z-index: 10;
    transform: translateX(100%);
    transition: 0.2s all linear;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .header .header__wrapper .header__nav .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) and (max-width: 767px) {
  .header .header__wrapper .header__nav .header__nav-close .header__nav-close-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) and (max-width: 767px) {
  .header .header__wrapper .header__nav .header__nav-close .header__nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) and (max-width: 767px) {
  .header .header__wrapper .header__nav .header__nav-close .header__nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
}
@media screen and (max-width: 767px) {
  .header .header__wrapper .header__nav_active {
    transform: translateX(0);
  }
}
.header .header__list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header .header__list {
    margin: 75px;
    flex-direction: column;
  }
}
.header .header__item {
  margin-right: 99px;
}
@media screen and (max-width: 767px) {
  .header .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.header .header__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .header .header__item:last-child {
    margin-bottom: 0;
  }
}
.header .header__item:last-child .header__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}
.header .header__item:last-child .header__link .header__link-pic {
  margin-right: 12px;
}
.header .header__link {
  font-family: "Whitney", sans-serif;
  font-size: 18px;
  font-weight: 325;
  line-height: 23px;
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .header .header__link {
    font-size: 42px;
    line-height: 48px;
  }
}
.header .header__link:hover,
.header .header__link:focus,
.header .header__link:active {
  opacity: 0.75;
}
.header .header__burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .header .header__burger {
    display: block;
  }
}
.header .header__burger .burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
}
.header .header__burger .burger__line_first {
  top: 0;
}
.header .header__burger .burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}
.header .header__burger .burger__line_third {
  bottom: 0;
}

.header_active {
  background: linear-gradient(90deg, #2d1686 0%, #4e33b5 100%);
}

/* Header styles end */
/* Intro styles start */
.intro {
  background: linear-gradient(90deg, #2d1686 0%, #4e33b5 100%);
  color: #fff;
  font-family: "Whitney", sans-serif;
  padding-top: 98px;
}
@media screen and (max-width: 1185px) {
  .intro {
    padding-top: 60px;
  }
}
@media screen and (max-width: 776px) {
  .intro {
    text-align: center;
  }
}
.intro .intro__wrapper {
  position: relative;
}
.intro .intro__wrapper .intro__title {
  width: 45%;
  padding-top: 100px;
  margin-bottom: 30px;
  z-index: 8;
  position: relative;
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
}
@media screen and (max-width: 1185px) {
  .intro .intro__wrapper .intro__title {
    font-size: 44px;
    font-weight: 600;
    line-height: 120%;
  }
}
@media screen and (max-width: 992px) {
  .intro .intro__wrapper .intro__title {
    width: 70%;
  }
}
@media screen and (max-width: 776px) {
  .intro .intro__wrapper .intro__title {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
  }
}
.intro .intro__wrapper .intro__subtitle {
  width: 44%;
  margin-bottom: 60px;
  z-index: 8;
  position: relative;
  font-size: 24px;
  font-weight: 350;
  line-height: 31px;
}
@media screen and (max-width: 1185px) {
  .intro .intro__wrapper .intro__subtitle {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 992px) {
  .intro .intro__wrapper .intro__subtitle {
    width: 50%;
  }
}
@media screen and (max-width: 776px) {
  .intro .intro__wrapper .intro__subtitle {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
  }
}
.intro .intro__wrapper .intro__mainimg {
  width: 58.888%;
  position: absolute;
  top: 57px;
  right: 0;
  z-index: 1;
}
@media screen and (max-width: 1185px) {
  .intro .intro__wrapper .intro__mainimg {
    top: 85px;
  }
}
@media screen and (max-width: 992px) {
  .intro .intro__wrapper .intro__mainimg {
    width: 50%;
    top: 55%;
    transform: translateY(-50%);
  }
}
@media screen and (max-width: 774px) {
  .intro .intro__wrapper .intro__mainimg {
    display: none;
  }
}
.intro .intro__wrapper .intro__mainimg .intro__mainimg-pic {
  max-width: 100%;
}
.intro .intro__wrapper .intro__button {
  margin-bottom: 180px;
}
@media screen and (max-width: 1185px) {
  .intro .intro__wrapper .intro__button {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 992px) {
  .intro .intro__wrapper .intro__button {
    margin-bottom: 80px;
  }
}

/*Intro styles end */
/*Benefits styles start */
.benefits {
  padding: 130px 0;
}
@media screen and (max-width: 1185px) {
  .benefits {
    padding: 70px 0;
  }
}
@media screen and (max-width: 767px) {
  .benefits {
    padding: 40px 0;
  }
}
.benefits .benefits__title {
  font-family: "Whitney", sans-serif;
  padding-bottom: 50px;
  color: #2e2d35;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
}
@media screen and (max-width: 992px) {
  .benefits .benefits__title {
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
  }
}
@media screen and (max-width: 767px) {
  .benefits .benefits__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    padding-bottom: 40px;
  }
}
.benefits .benefits__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px 30px;
}
@media screen and (max-width: 767px) {
  .benefits .benefits__grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.benefits .benefits__grid .benefits__card {
  background: #f6f5f9;
  border-radius: 6px;
  padding: 21px 10px 21px 40px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1185px) {
  .benefits .benefits__grid .benefits__card {
    padding: 10px 5px 20px 30px;
  }
}
.benefits .benefits__grid .benefits__card .benefits__card-item:first-child {
  max-width: 280px;
  height: auto;
}
@media screen and (max-width: 992px) {
  .benefits .benefits__grid .benefits__card .benefits__card-item:first-child {
    max-width: 60%;
  }
}
.benefits .benefits__grid .benefits__card .benefits__card-item:last-child {
  align-self: center;
}
.benefits .benefits__grid .benefits__card .benefits__card-item .benefits__card-title {
  padding: 22px 0;
  font-family: "Segoe UI", sans-serif;
  color: #2e2d35;
  font-size: 22px;
  font-weight: 600;
  line-height: 29px;
}
@media screen and (max-width: 1185px) {
  .benefits .benefits__grid .benefits__card .benefits__card-item .benefits__card-title {
    padding: 15px 0;
  }
}
@media screen and (max-width: 992px) {
  .benefits .benefits__grid .benefits__card .benefits__card-item .benefits__card-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
  }
}
@media screen and (max-width: 767px) {
  .benefits .benefits__grid .benefits__card .benefits__card-item .benefits__card-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 27px;
  }
}
.benefits .benefits__grid .benefits__card .benefits__card-item .benefits__card-desk {
  font-family: "Segoe UI", sans-serif;
  color: #474351;
  font-size: 16px;
  font-weight: normal;
  line-height: 142%;
}
@media screen and (max-width: 767px) {
  .benefits .benefits__grid .benefits__card .benefits__card-item .benefits__card-desk {
    font-size: 20px;
    font-weight: normal;
    line-height: 142% px;
  }
}
.benefits .benefits__grid .benefits__card .benefits__card-item .benefits__card-thumb {
  max-width: 100%;
}

/*Benefits styles end*/
/*registration styles start*/
.registration__wrapper {
  background: linear-gradient(90deg, #2d1686 0%, #4e33b5 100%);
  border-radius: 10px;
  padding: 70px 0 70px 70px;
  margin-bottom: 185px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1185px) {
  .registration__wrapper {
    margin-bottom: 50px;
    padding: 60px 0 60px 60px;
  }
}
@media screen and (max-width: 776px) {
  .registration__wrapper {
    margin-bottom: 50px;
    padding: 30px 0 30px 30px;
  }
}
.registration__wrapper .registration__desk {
  font-family: "Whitney", sans-serif;
  color: #fff;
  padding-bottom: 46px;
  max-width: 556px;
  z-index: 3;
  position: relative;
  font-size: 34px;
  font-weight: 600;
  line-height: 45px;
}
@media screen and (max-width: 992px) {
  .registration__wrapper .registration__desk {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    max-width: 70%;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 780px) {
  .registration__wrapper .registration__desk {
    max-width: 100%;
  }
}
.registration__wrapper .registration__pic-cars {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  max-width: 55%;
}
.registration__wrapper .registration__pic-cars img {
  max-width: 100%;
}
@media screen and (max-width: 1185px) {
  .registration__wrapper .registration__pic-cars {
    bottom: 0px;
  }
}
@media screen and (max-width: 776px) {
  .registration__wrapper .registration__pic-cars {
    top: 50%;
  }
}
.registration__wrapper .registration__pic-map {
  position: absolute;
  right: 88px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  max-width: 55%;
}
.registration__wrapper .registration__pic-map img {
  max-width: 100%;
}
@media screen and (max-width: 1185px) {
  .registration__wrapper .registration__pic-map {
    bottom: 0px;
  }
}

/*registration styles end*/
/*autorisation styles start*/
.autorisation {
  display: none;
}
.autorisation .autorisation__wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 24, 47, 0.3);
  z-index: 30;
}
.autorisation .autorisation__wrapper .autorisation__window {
  max-width: 490px;
  max-height: 472px;
  background: #fff;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 60px 55px 60px;
  font-family: "Whitney", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 350;
  line-height: 24px;
  color: #474351;
}
.autorisation .autorisation__wrapper .autorisation__window .autorisation__window-close {
  position: absolute;
  top: 24px;
  right: 24px;
}
.autorisation .autorisation__wrapper .autorisation__window .autorisation__window-close img {
  width: 100%;
}
.autorisation .autorisation__wrapper .autorisation__window .autorisation__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  padding-bottom: 35px;
  color: #2e2d35;
  text-align: center;
  display: block;
}
.autorisation .autorisation__wrapper .autorisation__window .autorisation__form {
  width: 370px;
  margin: 0;
}
.autorisation .autorisation__wrapper .autorisation__window .autorisation__form p:first-child {
  padding-bottom: 18px;
}
.autorisation .autorisation__wrapper .autorisation__window .autorisation__form .autorisation__form-email, .autorisation .autorisation__wrapper .autorisation__window .autorisation__form .autorisation__form-pass {
  height: 50px;
  margin-top: 10px;
  border: 1px solid #dddae7;
  border-radius: 4px;
  color: #918D9A;
  font-size: 16px;
  font-weight: 350;
  line-height: 100%;
  width: 100%;
  padding: 17px 16px 17px 12px;
  box-sizing: border-box;
}
.autorisation .autorisation__wrapper .autorisation__window .autorisation__form .autorisation__form-submit {
  margin-top: 34px;
  display: block;
  width: 370px;
  height: 50px;
  background: #f25b24;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  border: 0;
}

.autorisation__active {
  display: block;
}

/*autorisation styles start*/